force-app/main/default/flows/GLB_P1_OportunidadAsignacionAutomaticaEjecutivoVentas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Decisi_n_2</name>
        <label>Decisión 2</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Es_nuevo_o_modificado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_existe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Existe_ejecutivos_de_venta.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existe_ejecutivos_de_venta.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>No existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_nuevo_o_modificado</name>
        <label>Es nuevo o modificado</label>
        <locationX>506</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Es_nuevo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EsNuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Ejecutivo_de_venta</targetReference>
            </connector>
            <label>Es nuevo</label>
        </rules>
        <rules>
            <name>Es_modificado_el_propietaro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Ejecutivo_de_venta_Nuevo</targetReference>
            </connector>
            <label>Es modificado el propietaro</label>
        </rules>
        <rules>
            <name>Oportunidad_Cerrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Ejecutivo_de_venta_de_Oportunidad_Cerrada</targetReference>
            </connector>
            <label>Oportunidad Cerrada</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Decrementar1Cierre</name>
        <dataType>Number</dataType>
        <expression>{!Obtener_Ejecutivo_de_venta_de_Oportunidad_Cerrada.GLB_P1_OportunidadesAsignadas__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Decrementar1Modificacion</name>
        <dataType>Number</dataType>
        <expression>{!Obtener_Ejecutivo_de_venta_Anterior.GLB_P1_OportunidadesAsignadas__c} -1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EsNuevo</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Incrementar1Creacion</name>
        <dataType>Number</dataType>
        <expression>{!Obtener_Ejecutivo_de_venta.GLB_P1_OportunidadesAsignadas__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Incrementar1Modificacion</name>
        <dataType>Number</dataType>
        <expression>{!Obtener_Ejecutivo_de_venta_Nuevo.GLB_P1_OportunidadesAsignadas__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Oportunidad - Asignación automática Ejecutivo de ventas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad - Asignación automática Ejecutivo de ventas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Existe_ejecutivos_de_venta</name>
        <label>Existe ejecutivos de venta</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decisi_n_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GLB_P1_EjecutivoVenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GLB_P1_GrupoEjecutivos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Ejecutivo_de_venta</name>
        <label>Obtener Ejecutivo de venta</label>
        <locationX>110</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_ejecutivo_de_venta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GLB_P1_Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GLB_P1_GrupoEjecutivos__c</object>
        <sortField>GLB_P1_OportunidadesAsignadas__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Ejecutivo_de_venta_Anterior</name>
        <label>Obtener Ejecutivo de venta Anterior</label>
        <locationX>374</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Incrementar_Oportunidades_Modificar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GLB_P1_EjecutivoVenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GLB_P1_GrupoEjecutivos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Ejecutivo_de_venta_de_Oportunidad_Cerrada</name>
        <label>Obtener Ejecutivo de venta de Oportunidad Cerrada</label>
        <locationX>638</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decrementar_Oportunidades_Cierre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GLB_P1_EjecutivoVenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GLB_P1_GrupoEjecutivos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Ejecutivo_de_venta_Nuevo</name>
        <label>Obtener Ejecutivo de venta Nuevo</label>
        <locationX>374</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Ejecutivo_de_venta_Anterior</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GLB_P1_EjecutivoVenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GLB_P1_GrupoEjecutivos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Asignar_ejecutivo_de_venta</name>
        <label>Asignar ejecutivo de venta</label>
        <locationX>110</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Incrementar_Oportunidades</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_Ejecutivo_de_venta.GLB_P1_EjecutivoVenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Decrementar_Oportunidades_Cierre</name>
        <label>Decrementar # Oportunidades Cierre</label>
        <locationX>638</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Ejecutivo_de_venta_de_Oportunidad_Cerrada.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GLB_P1_OportunidadesAsignadas__c</field>
            <value>
                <elementReference>Decrementar1Cierre</elementReference>
            </value>
        </inputAssignments>
        <object>GLB_P1_GrupoEjecutivos__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Decrementar_Oportunidades_Modificar</name>
        <label>Decrementar # Oportunidades Modificar</label>
        <locationX>374</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Ejecutivo_de_venta_Anterior.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GLB_P1_OportunidadesAsignadas__c</field>
            <value>
                <elementReference>Decrementar1Modificacion</elementReference>
            </value>
        </inputAssignments>
        <object>GLB_P1_GrupoEjecutivos__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Incrementar_Oportunidades</name>
        <label>Incrementar # Oportunidades</label>
        <locationX>110</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Ejecutivo_de_venta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GLB_P1_OportunidadesAsignadas__c</field>
            <value>
                <elementReference>Incrementar1Creacion</elementReference>
            </value>
        </inputAssignments>
        <object>GLB_P1_GrupoEjecutivos__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Incrementar_Oportunidades_Modificar</name>
        <label>Incrementar # Oportunidades Modificar</label>
        <locationX>374</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Decrementar_Oportunidades_Modificar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Ejecutivo_de_venta_Nuevo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GLB_P1_OportunidadesAsignadas__c</field>
            <value>
                <elementReference>Incrementar1Modificacion</elementReference>
            </value>
        </inputAssignments>
        <object>GLB_P1_GrupoEjecutivos__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Existe_ejecutivos_de_venta</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
