force-app/main/default/flows/GLP_P1_OportunidadDecrementoOportunidades.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Decrementar1Eliminado</name>
        <dataType>Number</dataType>
        <expression>{!Obtener_Ejecutivo_de_venta_de_Oportunidad_Eliminada.GLB_P1_OportunidadesAsignadas__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Oportunidad - Decremento de # Oportunidades {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad - Decremento de # Oportunidades</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Ejecutivo_de_venta_de_Oportunidad_Eliminada</name>
        <label>Obtener Ejecutivo de venta de Oportunidad Eliminada</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decrementar_Oportunidades_Cierre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GLB_P1_EjecutivoVenta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GLB_P1_GrupoEjecutivos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Decrementar_Oportunidades_Cierre</name>
        <label>Decrementar # Oportunidades Cierre</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Ejecutivo_de_venta_de_Oportunidad_Eliminada.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GLB_P1_OportunidadesAsignadas__c</field>
            <value>
                <elementReference>Decrementar1Eliminado</elementReference>
            </value>
        </inputAssignments>
        <object>GLB_P1_GrupoEjecutivos__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Ejecutivo_de_venta_de_Oportunidad_Eliminada</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
