force-app/main/default/flows/ZRH_EliminarQuoteLineItemGroupClass.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Existe_QuoteLineItemGroupClass</name>
        <label>Existe QuoteLineItemGroupClass</label>
        <locationX>768</locationX>
        <locationY>664</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_QuoteLineItemGroupClass</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminar_QuoteLineItemGroupClass</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ZRH_EliminarQuoteLineItemGroupClass {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZRH_EliminarQuoteLineItemGroupClass</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Eliminar_QuoteLineItemGroupClass</name>
        <label>Eliminar QuoteLineItemGroupClass</label>
        <locationX>528</locationX>
        <locationY>651</locationY>
        <inputReference>Buscar_QuoteLineItemGroupClass</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Buscar_GroupClass</name>
        <label>Buscar GroupClass</label>
        <locationX>776</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_QuoteLineItemGroupClass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.vlocity_ins__GroupClassId__r.vlocity_ins__GroupId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.vlocity_ins__GroupClassId__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_QuoteLineItemGroupClass</name>
        <label>Buscar QuoteLineItemGroupClass</label>
        <locationX>776</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_QuoteLineItemGroupClass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupClassId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_GroupClass.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuoteLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.vlocity_ins__QuoteLineItemId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItemGroupClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Buscar_GroupClass</targetReference>
        </connector>
        <object>vlocity_ins__QuoteLineItemGroupClass__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
