force-app/main/default/flows/ZRH_CrearGroupClass.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Actualizar_Campos</name>
        <label>Actualizar Campos</label>
        <locationX>956</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Buscar_GroupClass.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.vlocity_ins__GroupId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buscar_GroupClass.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_GroupClass</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existe_GroupClass</name>
        <label>Existe GroupClass</label>
        <locationX>768</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Crear_GroupClass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe</defaultConnectorLabel>
        <rules>
            <name>Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_GroupClass</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Campos</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ZRH_CrearGroupClass {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZRH_CrearGroupClass</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_GroupClass</name>
        <label>Crear GroupClass</label>
        <locationX>563</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.vlocity_ins__GroupId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>GroupClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_GroupClass</name>
        <label>Buscar GroupClass</label>
        <locationX>776</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_GroupClass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.vlocity_ins__GroupId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_GroupClass</name>
        <label>Actualizar GroupClass</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <inputReference>Buscar_GroupClass</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Buscar_GroupClass</targetReference>
        </connector>
        <object>vlocity_ins__GroupClass__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
