force-app/main/default/flows/ZRH_AsignarObligatoriedadYCondicionesEspeciales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Obtener_Condiciones_Especiales</name>
        <label>Obtener Condiciones Especiales</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>ZRH_JSONParserForFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Actualizar_Contract_Group_Plan_Group_Class</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonDoc</name>
            <value>
                <elementReference>AttributeSelectedValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValue1</name>
            <value>
                <stringValue>CondicionesEspeciales</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ZRH_JSONParserForFlow</nameSegment>
        <outputParameters>
            <assignToReference>CondicionesEspeciales</assignToReference>
            <name>jsonVal1</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Obtener_Obligatoriedad</name>
        <label>Obtener Obligatoriedad</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>ZRH_JSONParserForFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Obtener_Condiciones_Especiales</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonDoc</name>
            <value>
                <elementReference>AttributeSelectedValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValue1</name>
            <value>
                <stringValue>ObligPlan</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ZRH_JSONParserForFlow</nameSegment>
        <outputParameters>
            <assignToReference>Obligatoriedad</assignToReference>
            <name>jsonVal1</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>ZRH_AsignarObligatoriedadYCondicionesEspeciales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZRH_AsignarObligatoriedadYCondicionesEspeciales</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Quote_Line_Item</name>
        <label>Obtener Quote Line Item</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Obligatoriedad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractGroupPlan.QuoteLineItemId</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputAssignments>
            <assignToReference>AttributeSelectedValues</assignToReference>
            <field>vlocity_ins__AttributeSelectedValues__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Contract_Group_Plan_Group_Class</name>
        <label>Actualizar Contract Group Plan Group Class</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>ZRH_CondicionesEspeciales__c</field>
            <value>
                <elementReference>CondicionesEspeciales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_Obligatoriedad__c</field>
            <value>
                <elementReference>Obligatoriedad</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Quote_Line_Item</targetReference>
        </connector>
        <object>ContractGroupPlanGroupClass</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AttributeSelectedValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CondicionesEspeciales</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Obligatoriedad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
