force-app/main/default/flows/ZRH_ProcesoAprobacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_Aprobacion</name>
        <label>Enviar Aprobación</label>
        <locationX>842</locationX>
        <locationY>435</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>ZRH_SelecionarAutoridad.recordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>ZRH_ProcesoAutoridadesSuscripcion</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asignar_Valor_Vida_Salud</name>
        <label>Asignar Valor Vida/Salud</label>
        <locationX>469</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>ValorVidaSalud</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obtener_Datos_Cotizacion.ZRH_PrimaTotalAnualUF_Salud__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValorVidaSalud</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obtener_Datos_Cotizacion.ZRH_PrimaTotalAnualUF_Vida__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prima_anual_es_Salud_Vida</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cumple_autoridad</name>
        <label>¿Cumple autoridad?</label>
        <locationX>573</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>Enviar_Aprobacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>(2 AND 1) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Datos_Aprobador.ZRH_AutoridadSuscripcion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Obtener_Datos_Cotizacion.ZRH_PrimaTotalAnual_UF__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Datos_Aprobador.ZRH_AutoridadSuscripcion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Datos_Aprobador.ZRH_AutoridadSuscripcion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ZRH_SelecionarAprobador</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prima_anual_es_Salud_Vida</name>
        <label>¿Prima anual es Salud/Vida?</label>
        <locationX>571</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Cumple_autoridad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>NO_Salud_Vida</name>
            <conditionLogic>1 AND ((4 AND (2 OR 3)) OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>ValorVidaSalud</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Datos_Cotizacion.ZRH_PrimaTotalAnualUF_Salud__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Obtener_Datos_Aprobador.ZRH_AutoridadSuscripcion__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Datos_Cotizacion.ZRH_PrimaTotalAnualUF_Vida__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Obtener_Datos_Aprobador.ZRH_AutoridadSuscripcion__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Datos_Aprobador.UserRole.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Suscriptor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Datos_Aprobador.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suscriptor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ZRH_SelecionarAprobador</targetReference>
            </connector>
            <label>NO</label>
        </rules>
        <rules>
            <name>No_es_suscriptor_doble_autoridad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValorVidaSalud</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Datos_Aprobador.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suscriptor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ZRH_SelecionarAprobador</targetReference>
            </connector>
            <label>No es suscriptor doble autoridad</label>
        </rules>
    </decisions>
    <description>Procesos de aprobación de autoridades de suscripción</description>
    <environments>Default</environments>
    <interviewLabel>Proceso de aprobación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proceso de aprobación</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtener_Datos_Aprobador</name>
        <label>Obtener Datos Aprobador</label>
        <locationX>471</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Valor_Vida_Salud</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ZRH_SelecionarAutoridad.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ZRH_AutoridadSuscripcion__c</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Datos_Cotizacion</name>
        <label>Obtener Datos Cotización</label>
        <locationX>603</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Datos_Aprobador</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ZRH_PrimaTotalAnual_UF__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ZRH_PrimaTotalAnualUF_Salud__c</queriedFields>
        <queriedFields>ZRH_PrimaTotalAnualUF_Vida__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ZRH_SelecionarAprobador</name>
        <label>Selecionar aprobador</label>
        <locationX>849</locationX>
        <locationY>271</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Obtener_Datos_Cotizacion</targetReference>
        </connector>
        <fields>
            <name>ZRH_SelecionarAutoridad</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Seleccionar aprobador</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ZRH_BusquedaAprobadorFuncion__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ErrorValidacionAprobador</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 61, 3);&quot;&gt;El aprobador seleccionado no cumple con la autoridad.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 2)</conditionLogic>
                <conditions>
                    <leftValueReference>No</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NO_Salud_Vida</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>724</locationX>
        <locationY>68</locationY>
        <connector>
            <targetReference>ZRH_SelecionarAprobador</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValorVidaSalud</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
