force-app/main/default/flows/ZRH_ActualizaVersionCotizacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>[JN][BugFix-986] Problemas en aumentod e versiones</description>
        <name>CondicionSumarVersion</name>
        <label>CondicionSumarVersion</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>siSumaVersion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-05</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-08</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateVersion</targetReference>
            </connector>
            <label>siSumaVersion</label>
        </rules>
    </decisions>
    <description>suma en 1 unidad la versión de la cotización si entra en el estado de recotizar
Actualiza Campos API PDF</description>
    <environments>Default</environments>
    <formulas>
        <name>estatusOld</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record__Prior.Status})</expression>
    </formulas>
    <formulas>
        <name>nombreNuevaVersion</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!$Record.Name},RIGHT({!$Record.Name}, (LEN({!$Record.Name})+1) - FIND(&apos;V&apos;, {!$Record.Name})),&apos;V&apos;&amp;TEXT({!versionnueva}) )</expression>
    </formulas>
    <formulas>
        <name>versionnueva</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ZRH_VersionQuote__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ZRH_ActualizaVersionCotizacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZRH_ActualizaVersionCotizacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateVersion</name>
        <label>updateVersion</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>E-08</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nombreNuevaVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_CodigoRespuestaAPIPDF__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_FechaHoraRespuestaAPIPDF__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_MensajeRespuestaAPIPDF__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_PDFCreado__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_VersionQuote__c</field>
            <value>
                <elementReference>versionnueva</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CondicionSumarVersion</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
