force-app/main/default/flows/ZRH_CambiarEstadoCotizacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Agregar_Id_Registro_a_la_Lista_para_actualizar</name>
        <label>Agregar Id Registro a la Lista para actualizar</label>
        <locationX>2694</locationX>
        <locationY>1338</locationY>
        <assignmentItems>
            <assignToReference>RelatedQuoteId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Buscar_Cotizaciones_Relacionadas.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buscar_Cotizaciones_Relacionadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HayPDFCreadoBool</name>
        <label>HayPDFCreado</label>
        <locationX>1640</locationX>
        <locationY>1078</locationY>
        <assignmentItems>
            <assignToReference>HayPDFCreado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Solo_Cotizacion_Holding.ZRH_PDFCreado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotHolding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Solo_Cotizacion_Holding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Solo_Cotizacion_Holding</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filtrar solo la cotizacion del holding</description>
        <name>CotizacionHolding</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Cotizacion Holding</label>
        <locationX>1189</locationX>
        <locationY>1072</locationY>
        <assignNextValueToReference>currentItem_CotizacionHolding_0_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>QuotesSelectedDefault</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_CotizacionHolding_0_0.ZRH_CotizacionDelHolding__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Obtener_Solo_Cotizacion_Holding</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>TipoDeProductoSalud</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Salud</stringValue>
        </value>
    </constants>
    <constants>
        <name>TipoDeProductoVIda</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Vida</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Bypass_Por_Rol_De_Usuario</name>
        <label>Bypass por rol de usuario</label>
        <locationX>1170</locationX>
        <locationY>1506</locationY>
        <defaultConnector>
            <targetReference>Estado_Anterior_es</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Rol Bypass</defaultConnectorLabel>
        <rules>
            <name>Si_Rol_Bypass</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZRH_JefeProposition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZRH_SubgerenteProposition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZRH_SubgerenteComercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_al_que_avanza_Rol_Bypass</targetReference>
            </connector>
            <label>Si Rol Bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>CambiaMismoEstado</name>
        <label>CambiaMismoEstado</label>
        <locationX>282</locationX>
        <locationY>1519</locationY>
        <defaultConnector>
            <targetReference>Solo_Cambia_Subestado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PerdidaAPerdida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Permitir_Mismo_estado_perdida</targetReference>
            </connector>
            <label>PerdidaAPerdida</label>
        </rules>
        <rules>
            <name>DeclinadaADeclinada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-06</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-06</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Permitir_Mismo_estado_declinada</targetReference>
            </connector>
            <label>DeclinadaADeclinada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cotizacion_tiene_Suscriptor_Asignado</name>
        <label>Cotizacion tiene Suscriptor Asignado?</label>
        <locationX>2292</locationX>
        <locationY>2744</locationY>
        <defaultConnector>
            <targetReference>Agregar_Id_Registro_a_la_Lista_para_actualizar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Permitir Cambio a RECOTIZAR</defaultConnectorLabel>
        <rules>
            <name>Si_Hay_Suscriptor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.vlocity_ins__UnderwriterId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_Error_No_Hay_Suscriptor</targetReference>
            </connector>
            <label>No Hay Suscriptor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cumple_con_Autoridad_de_Suscripcion</name>
        <label>¿Cumple con Autoridad de Suscripcion?</label>
        <locationX>1982</locationX>
        <locationY>2374</locationY>
        <defaultConnector>
            <targetReference>Agregar_Id_Registro_a_la_Lista_para_actualizar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Permitir Cambio a COTIZADA</defaultConnectorLabel>
        <rules>
            <name>No_Permitir_Cambio_a_Cotizada</name>
            <conditionLogic>(1 AND 2 AND 7) OR (3 AND 4 AND 7) OR (5 AND 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_PrimaTotalAnual_UF__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ZRH_AutoridadSuscripcion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Buscar_Cotizaciones_Relacionadas.ZRH_PrimaTotalAnual_UF__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_PrimaTotalAnualUF_Salud__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ZRH_AutoridadSuscripcion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Buscar_Cotizaciones_Relacionadas.ZRH_PrimaTotalAnualUF_Salud__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_PrimaTotalAnualUF_Vida__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ZRH_AutoridadSuscripcion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Buscar_Cotizaciones_Relacionadas.ZRH_PrimaTotalAnualUF_Vida__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_CotizacionDelHolding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_Error_Necesita_Aprobacion</targetReference>
            </connector>
            <label>No Permitir Cambio a Cotizada</label>
        </rules>
        <rules>
            <name>No_Cumple_Con_Registro_de_Avance</name>
            <conditionLogic>(1 AND (NOT(4) AND NOT(5))) OR (2 AND NOT(4) AND 5) OR (3 AND 4 AND NOT(5)) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>CumpleChecksRegAvanceCotizada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CumpleChecksRegAvanceCotizadaSoloSalud</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CumpleChecksRegAvanceCotizadaSoloVida</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Planes_Salud</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Planes_Vida</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_Error_No_Cumple_Con_Registro_de_Avance</targetReference>
            </connector>
            <label>No Cumple Con Registro de Avance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ejecutivo_es_Propietario</name>
        <label>¿Ejecutivo es Propietario?</label>
        <locationX>1439</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>Mensaje_Error_Ejecutivo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es Propietario</defaultConnectorLabel>
        <rules>
            <name>Si_es_Propietario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Info_Cotizacion_Inicial.ZRH_EjecutivoPropietario__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FormulaEjecutivoPropietario</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_de_Cuenta_de_la_Cotizacion_Inicial</targetReference>
            </connector>
            <label>Si es Propietario</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_al_que_avanza_desde_COTIZADA</name>
        <label>Estado al que avanza desde COTIZADA</label>
        <locationX>575</locationX>
        <locationY>2639</locationY>
        <defaultConnector>
            <targetReference>No_Permitir_Avance_Desde_COTIZADA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Permitir Cambio de Estado</defaultConnectorLabel>
        <rules>
            <name>Cambio_a_RECOTIZAR</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-08</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HayPDFCreado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_CotizacionDelHolding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_CotizacionDelHolding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cotizacion_tiene_Suscriptor_Asignado</targetReference>
            </connector>
            <label>Cambio a RECOTIZAR</label>
        </rules>
        <rules>
            <name>Permitir_Cambio_a_ENVIADA_CORREDOR_GANADA_PERDIDA</name>
            <conditionLogic>((1 OR 2 OR 3) AND (4 AND 5)) OR ((1 OR 2 OR 3) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-07</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-09</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HayPDFCreado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_CotizacionDelHolding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_CotizacionDelHolding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Permitir_Cambio_a_Ganada_o_Perdida</targetReference>
            </connector>
            <label>Permitir Cambio a ENVIADA CORREDOR, GANADA, PERDIDA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_al_que_avanza_desde_DOC_ENVIADA</name>
        <label>Estado al que avanza desde DOC ENVIADA</label>
        <locationX>675</locationX>
        <locationY>2465</locationY>
        <defaultConnector>
            <targetReference>No_Permitir_Avance_Desde_DOC_ENVIADA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Permitir Cambio de Estado</defaultConnectorLabel>
        <rules>
            <name>Cambio_a_COTIZADA2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-05</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Planes_Salud</targetReference>
            </connector>
            <label>Cambio a COTIZADA</label>
        </rules>
        <rules>
            <name>Permitir_Cambio_a_DECLINADA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-06</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Id_Registro_a_la_Lista_para_actualizar</targetReference>
            </connector>
            <label>Permitir Cambio a DECLINADA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_al_que_avanza_desde_DOC_FALTANTE</name>
        <label>Estado al que avanza desde DOC FALTANTE</label>
        <locationX>813</locationX>
        <locationY>2281</locationY>
        <defaultConnector>
            <targetReference>No_Permitir_Avance_Desde_DOC_FALTANTE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Permitir Cambio de Estado</defaultConnectorLabel>
        <rules>
            <name>Permitir_Cambio_a_DOC_ENVIADA_DECLINADA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-04</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-06</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Id_Registro_a_la_Lista_para_actualizar</targetReference>
            </connector>
            <label>Permitir Cambio a DOC ENVIADA, DECLINADA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_al_que_avanza_desde_ENVIADA_CORREDOR</name>
        <label>Estado al que avanza desde ENVIADA CORREDOR</label>
        <locationX>457</locationX>
        <locationY>2808</locationY>
        <defaultConnector>
            <targetReference>No_Permitir_Avance_Desde_ENVIADA_CORREDOR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Permitir Cambiar Estado</defaultConnectorLabel>
        <rules>
            <name>Cambio_a_RECOTIZAR2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-08</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cotizacion_tiene_Suscriptor_Asignado</targetReference>
            </connector>
            <label>Cambio a RECOTIZAR</label>
        </rules>
        <rules>
            <name>Permitir_Cambio_a_GANADA_PERDIDA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-09</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Permitir_Cambio_a_Ganada_o_Perdida</targetReference>
            </connector>
            <label>Permitir Cambio a GANADA, PERDIDA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_al_que_avanza_desde_INGRESO</name>
        <label>Estado al que avanza desde INGRESO</label>
        <locationX>913</locationX>
        <locationY>2155</locationY>
        <defaultConnector>
            <targetReference>No_Permitir_Avance_desde_INGRESO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Permitir Cambio de Estado</defaultConnectorLabel>
        <rules>
            <name>Cambio_a_COTIZADA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-05</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Planes_Salud</targetReference>
            </connector>
            <label>Cambio a COTIZADA</label>
        </rules>
        <rules>
            <name>Permitir_Cambio_a_DOC_FALTANTE_DECLINADA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-03</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-06</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Id_Registro_a_la_Lista_para_actualizar</targetReference>
            </connector>
            <label>Permitir Cambio a DOC FALTANTE, DECLINADA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_al_que_avanza_desde_RECOTIZAR</name>
        <label>Estado al que avanza desde RECOTIZAR</label>
        <locationX>323</locationX>
        <locationY>3011</locationY>
        <defaultConnector>
            <targetReference>No_Permitir_Avance_Desde_RECOTIZAR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Permitir Cambio de Estado</defaultConnectorLabel>
        <rules>
            <name>Cambio_a_COTIZADA3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-05</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Planes_Salud</targetReference>
            </connector>
            <label>Cambio a COTIZADA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_al_que_avanza_desde_RESERVA</name>
        <label>Estado al que avanza desde RESERVA</label>
        <locationX>1038</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>No_Permitir_Avance_Desde_RESERVA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Permitir Cambio de Estado</defaultConnectorLabel>
        <rules>
            <name>Cambia_a_INGRESO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Todos_los_campos_requeridos_completos</targetReference>
            </connector>
            <label>Cambia a INGRESO</label>
        </rules>
        <rules>
            <name>Permitir_Cambio_a_PERDIDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Id_Registro_a_la_Lista_para_actualizar</targetReference>
            </connector>
            <label>Permitir Cambio a PERDIDA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_al_que_avanza_Rol_Bypass</name>
        <label>Estado al que avanza Rol Bypass</label>
        <locationX>2850</locationX>
        <locationY>1582</locationY>
        <defaultConnector>
            <targetReference>Agregar_Id_Registro_a_la_Lista_para_actualizar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Avanza a cualquier otro Estado</defaultConnectorLabel>
        <rules>
            <name>Avanza_a_COTIZADA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-05</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cumple_con_Autoridad_de_Suscripcion</targetReference>
            </connector>
            <label>Avanza a COTIZADA</label>
        </rules>
        <rules>
            <name>Avanza_a_RECOTIZAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-08</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cotizacion_tiene_Suscriptor_Asignado</targetReference>
            </connector>
            <label>Avanza a RECOTIZAR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_Anterior_es</name>
        <label>¿Estado Anterior es?</label>
        <locationX>1182</locationX>
        <locationY>1776</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_RESERVA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_al_que_avanza_desde_RESERVA</targetReference>
            </connector>
            <label>Es RESERVA</label>
        </rules>
        <rules>
            <name>Es_INGRESO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_al_que_avanza_desde_INGRESO</targetReference>
            </connector>
            <label>Es INGRESO</label>
        </rules>
        <rules>
            <name>Es_DOC_FALTANTE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-03</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_al_que_avanza_desde_DOC_FALTANTE</targetReference>
            </connector>
            <label>Es DOC FALTANTE</label>
        </rules>
        <rules>
            <name>Es_DOC_ENVIADA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-04</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_al_que_avanza_desde_DOC_ENVIADA</targetReference>
            </connector>
            <label>Es DOC ENVIADA</label>
        </rules>
        <rules>
            <name>Es_COTIZADA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-05</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_al_que_avanza_desde_COTIZADA</targetReference>
            </connector>
            <label>Es COTIZADA</label>
        </rules>
        <rules>
            <name>Es_ENVIADA_AL_CORREDOR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-07</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_al_que_avanza_desde_ENVIADA_CORREDOR</targetReference>
            </connector>
            <label>Es ENVIADA AL CORREDOR</label>
        </rules>
        <rules>
            <name>Es_RECOTIZAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-08</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_al_que_avanza_desde_RECOTIZAR</targetReference>
            </connector>
            <label>Es RECOTIZAR</label>
        </rules>
        <rules>
            <name>Es_DECLINADA_PERDIDA_GANADA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-06</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-09</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CambiaMismoEstado</targetReference>
            </connector>
            <label>Es DECLINADA, PERDIDA, GANADA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permitir_Cambio_A_Configuracion_Completada</name>
        <label>Permitir Cambio A Configuracion Completada</label>
        <locationX>185</locationX>
        <locationY>3403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_A_Conf_Comp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CumpleChecksRegistroAvanceParaGanada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_Error_No_Cumple_Con_Registro_de_Avance_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Si_A_Conf_Completada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CumpleChecksRegistroAvanceParaGanada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Id_Registro_a_la_Lista_para_actualizar</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permitir_Cambio_a_Ganada_o_Perdida</name>
        <label>Permitir Cambio a Ganada o Perdida</label>
        <locationX>1596</locationX>
        <locationY>3262</locationY>
        <defaultConnector>
            <targetReference>Agregar_Id_Registro_a_la_Lista_para_actualizar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Permitir Cambio</defaultConnectorLabel>
        <rules>
            <name>No_Cumple_Con_Registro_de_Avance_y_Es_Ganada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-09</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubEstado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE-15</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CumpleChecksRegistroAvanceParaGanada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_Error_No_Cumple_Con_Registro_de_Avance_0</targetReference>
            </connector>
            <label>No Cumple Con Registro de Avance y Es Ganada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si solo se cambia el subestado el proceso deberia dejar seguir.</description>
        <name>Solo_Cambia_Subestado</name>
        <label>Solo Cambia Subestado</label>
        <locationX>72</locationX>
        <locationY>1729</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SiYEsDeclinadaOPerdidaOGanadaDistintoConfigCompletada</name>
            <conditionLogic>1 AND (2 OR 3 OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Estado_Seleccionado</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-06</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-09</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubEstado_Seleccionado</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SE-15</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Id_Registro_a_la_Lista_para_actualizar</targetReference>
            </connector>
            <label>Si Y Es Declinada O Perdida O Ganada Distinto Config Completada</label>
        </rules>
        <rules>
            <name>SiYEsGanadaConfigCompletada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Estado_Seleccionado</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-09</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubEstado_Seleccionado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SE-15</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Permitir_Cambio_A_Configuracion_Completada</targetReference>
            </connector>
            <label>Si Y Es Ganada Config Completada</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Estado_Seleccionado</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Permitir_Cambio_de_Estado</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_Cuenta_de_la_Cotizacion_Inicial</name>
        <label>Tipo de Cuenta de la Cotizacion Inicial</label>
        <locationX>1199</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>Obtener_Cotizaciones_Relacionadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No es Cotizacion Holding</defaultConnectorLabel>
        <rules>
            <name>Si_es_Cotizacion_del_Holding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Info_Cotizacion_Inicial.ZRH_CotizacionDelHolding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Cotizaciones_Relacionadas_al_Holding</targetReference>
            </connector>
            <label>Es Cotización del Holding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Todos_los_campos_requeridos_completos</name>
        <label>¿Todos los campos requeridos completos?</label>
        <locationX>1961</locationX>
        <locationY>1968</locationY>
        <defaultConnector>
            <targetReference>Agregar_Id_Registro_a_la_Lista_para_actualizar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Permitir Cambio a INGRESO</defaultConnectorLabel>
        <rules>
            <name>Campos_Incompletos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_FechaSolicitudEntrega__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_Moneda__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_NroAsegurados__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_Observaciones__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_PrimaTarget__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_VigenciaInicio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_VigenciaTermino__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FormulaFechaLimitePregunta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_ComisionCorredor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_Error_para_Estado_Ingreso</targetReference>
            </connector>
            <label>Campos Incompletos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_es_Ejecutivo_Comercial</name>
        <label>¿Usuario es Ejecutivo Comercial?</label>
        <locationX>1199</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Tipo_de_Cuenta_de_la_Cotizacion_Inicial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_es_Ejecutivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ejecutivo/Asistente Comercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ejecutivo_es_Propietario</targetReference>
            </connector>
            <label>Si es Ejecutivo</label>
        </rules>
    </decisions>
    <description>Flow para cambiar estado de la cotizacion y cotizaciones relacionadas (incluye reglas de validacion)</description>
    <dynamicChoiceSets>
        <name>StatusChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CumpleChecksRegAvanceCotizada</name>
        <dataType>Boolean</dataType>
        <expression>{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceCapitalCoberturas__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceCondicionesEspeciales__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvancePlanes__c} &amp;&amp; 
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceTarificacion__c}</expression>
    </formulas>
    <formulas>
        <description>Checks a validar en caso de pasar a Cotizada solo con planes de tipo salud.</description>
        <name>CumpleChecksRegAvanceCotizadaSoloSalud</name>
        <dataType>Boolean</dataType>
        <expression>{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceCondicionesEspeciales__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvancePlanes__c} &amp;&amp; 
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceTarificacion__c}</expression>
    </formulas>
    <formulas>
        <description>Checks a validar en caso de pasar a Cotizada solo con planes de tipo vida.</description>
        <name>CumpleChecksRegAvanceCotizadaSoloVida</name>
        <dataType>Boolean</dataType>
        <expression>{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceCapitalCoberturas__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvancePlanes__c} &amp;&amp; 
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceTarificacion__c}</expression>
    </formulas>
    <formulas>
        <description>Formula para evaluar si todos los campos de registro de avance estan completados al momento de pasar a Ganada - Configuración Completada</description>
        <name>CumpleChecksRegistroAvanceParaGanada</name>
        <dataType>Boolean</dataType>
        <expression>{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceActivarGlosas__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceAntecedentesGenerales__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceBMI__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceCapitalCoberturas__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceCoberturaExterior__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceCondicionesEspeciales__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceConfiguracionCobertura__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceContributoriedad__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceConvenios__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceDeducibles__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceFondoLibreDisposicion__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvancePaqueteConveniosLinea__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvancePaquetesDeAsistencias__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvancePaquetesDeConvenios__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvancePlanes__c} &amp;&amp; 
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvancePreexistencias__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceRequisitosAsegurabilid__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceRoles__c} &amp;&amp; 
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceSobreprima__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceTablaRequisitosMedicos__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceTarificacion__c} &amp;&amp;
{!Buscar_Cotizaciones_Relacionadas.ZRH_RegistroAvanceTopes__c}</expression>
    </formulas>
    <formulas>
        <name>FormulaEjecutivoPropietario</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>FormulaFechaLimitePregunta</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Buscar_Cotizaciones_Relacionadas.ZRH_EsLicitacion__c}, ISBLANK({!Buscar_Cotizaciones_Relacionadas.ZRH_FechaLimitePregunta__c}), False)</expression>
    </formulas>
    <formulas>
        <name>QuoteLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot;+{!Buscar_Cotizaciones_Relacionadas.Id},{!Buscar_Cotizaciones_Relacionadas.Name}, &quot;_self&quot;)</expression>
    </formulas>
    <interviewLabel>ZRH_CambiarEstadoCotizacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZRH_CambiarEstadoCotizacion</label>
    <loops>
        <name>Buscar_Cotizaciones_Relacionadas</name>
        <label>Buscar Cotizaciones Relacionadas</label>
        <locationX>1185</locationX>
        <locationY>1362</locationY>
        <collectionReference>RelatedQuotes.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Bypass_Por_Rol_De_Usuario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Estado_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Obtener_Solo_Cotizacion_Holding</name>
        <label>Obtener Solo Cotizacion Holding</label>
        <locationX>1436</locationX>
        <locationY>1080</locationY>
        <collectionReference>CotizacionHolding</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HayPDFCreadoBool</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cambiar_Estado_Cotizacion_Dependientes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obtener_Cotizaciones_Relacionadas</name>
        <label>Obtener Cotizaciones Relacionadas</label>
        <locationX>1041</locationX>
        <locationY>886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Registros_Para_Cotizacion_por_Defecto</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_en_el_Flujo</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Info_Cotizacion_Inicial.ZRH_CotizacionHolding__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ZRH_CotizacionHolding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Info_Cotizacion_Inicial.ZRH_CotizacionHolding__c</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>AllRelatedQuotes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ZRH_NombreCortoCuenta__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ZRH_ValoresEstado__c</queriedFields>
        <queriedFields>ZRH_Holding__c</queriedFields>
        <queriedFields>ZRH_NombreHolding__c</queriedFields>
        <queriedFields>ZRH_EjecutivoPropietario__c</queriedFields>
        <queriedFields>ZRH_PrimaTotalAnual_UF__c</queriedFields>
        <queriedFields>ZRH_PrimaTotalAnualUF_Salud__c</queriedFields>
        <queriedFields>ZRH_PrimaTotalAnualUF_Vida__c</queriedFields>
        <queriedFields>vlocity_ins__UnderwriterId__c</queriedFields>
        <queriedFields>ZRH_SolicitudCorredorCliente__c</queriedFields>
        <queriedFields>ZRH_FechaSolicitudEntrega__c</queriedFields>
        <queriedFields>ZRH_VigenciaInicio__c</queriedFields>
        <queriedFields>ZRH_VigenciaTermino__c</queriedFields>
        <queriedFields>ZRH_Moneda__c</queriedFields>
        <queriedFields>ZRH_NroAsegurados__c</queriedFields>
        <queriedFields>ZRH_PrimaTarget__c</queriedFields>
        <queriedFields>ZRH_Observaciones__c</queriedFields>
        <queriedFields>ZRH_EsLicitacion__c</queriedFields>
        <queriedFields>ZRH_FechaLimitePregunta__c</queriedFields>
        <queriedFields>ZRH_SubEstado__c</queriedFields>
        <queriedFields>ZRH_CotizacionDelHolding__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePlanes__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceCondicionesEspeciales__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceCapitalCoberturas__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceTarificacion__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceAntecedentesGenerales__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceDeducibles__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceConfiguracionCobertura__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceRoles__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceContributoriedad__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceRequisitosAsegurabilid__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceBMI__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceConvenios__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceTablaRequisitosMedicos__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePreexistencias__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceFondoLibreDisposicion__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceSobreprima__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceCoberturaExterior__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceActivarGlosas__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePaqueteConveniosLinea__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePaquetesDeAsistencias__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePaquetesDeConvenios__c</queriedFields>
        <queriedFields>ZRH_ComisionCorredor__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceTopes__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Cotizaciones_Relacionadas_al_Holding</name>
        <label>Obtener Cotizaciones Relacionadas al Holding</label>
        <locationX>1359</locationX>
        <locationY>870</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Registros_Para_Cotizacion_por_Defecto</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_en_el_Flujo</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Info_Cotizacion_Inicial.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ZRH_CotizacionHolding__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Info_Cotizacion_Inicial.Id</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>AllRelatedQuotes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ZRH_NombreCortoCuenta__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ZRH_ValoresEstado__c</queriedFields>
        <queriedFields>ZRH_Holding__c</queriedFields>
        <queriedFields>ZRH_NombreHolding__c</queriedFields>
        <queriedFields>ZRH_EjecutivoPropietario__c</queriedFields>
        <queriedFields>ZRH_PrimaTotalAnual_UF__c</queriedFields>
        <queriedFields>ZRH_PrimaTotalAnualUF_Salud__c</queriedFields>
        <queriedFields>ZRH_PrimaTotalAnualUF_Vida__c</queriedFields>
        <queriedFields>vlocity_ins__UnderwriterId__c</queriedFields>
        <queriedFields>ZRH_SolicitudCorredorCliente__c</queriedFields>
        <queriedFields>ZRH_SubEstado__c</queriedFields>
        <queriedFields>ZRH_FechaSolicitudEntrega__c</queriedFields>
        <queriedFields>ZRH_VigenciaInicio__c</queriedFields>
        <queriedFields>ZRH_VigenciaTermino__c</queriedFields>
        <queriedFields>ZRH_Moneda__c</queriedFields>
        <queriedFields>ZRH_NroAsegurados__c</queriedFields>
        <queriedFields>ZRH_PrimaTarget__c</queriedFields>
        <queriedFields>ZRH_Observaciones__c</queriedFields>
        <queriedFields>ZRH_EsLicitacion__c</queriedFields>
        <queriedFields>ZRH_FechaLimitePregunta__c</queriedFields>
        <queriedFields>ZRH_CotizacionDelHolding__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePlanes__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceCondicionesEspeciales__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceCapitalCoberturas__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceTarificacion__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceActivarGlosas__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceAntecedentesGenerales__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceBMI__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceCoberturaExterior__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceConfiguracionCobertura__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceContributoriedad__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceConvenios__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceDeducibles__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceFondoLibreDisposicion__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePreexistencias__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceRequisitosAsegurabilid__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceRoles__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceSobreprima__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceTablaRequisitosMedicos__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePaqueteConveniosLinea__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePaquetesDeAsistencias__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePaquetesDeConvenios__c</queriedFields>
        <queriedFields>ZRH_ComisionCorredor__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceTopes__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Info_Cotizacion_Inicial</name>
        <label>Obtener Info Cotizacion Inicial</label>
        <locationX>1207</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usuario_es_Ejecutivo_Comercial</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_en_el_Flujo</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Planes_Salud</name>
        <label>Obtener Planes Salud</label>
        <locationX>1529</locationX>
        <locationY>2992</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Planes_Vida</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_en_el_Flujo</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_ins__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoDeProductoSalud</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Cotizaciones_Relacionadas.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Planes_Vida</name>
        <label>Obtener Planes Vida</label>
        <locationX>1715</locationX>
        <locationY>2993</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cumple_con_Autoridad_de_Suscripcion</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_en_el_Flujo</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_ins__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoDeProductoVIda</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Cotizaciones_Relacionadas.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Registros_Para_Cotizacion_por_Defecto</name>
        <label>Obtener Registros Para Cotizacion por Defecto</label>
        <locationX>1191</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CotizacionHolding</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_en_el_Flujo</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Info_Cotizacion_Inicial.ZRH_CotizacionHolding__c</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>QuotesSelectedDefault</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ZRH_NombreCortoCuenta__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ZRH_ValoresEstado__c</queriedFields>
        <queriedFields>ZRH_Holding__c</queriedFields>
        <queriedFields>ZRH_NombreHolding__c</queriedFields>
        <queriedFields>ZRH_EjecutivoPropietario__c</queriedFields>
        <queriedFields>ZRH_PrimaTotalAnual_UF__c</queriedFields>
        <queriedFields>ZRH_PrimaTotalAnualUF_Salud__c</queriedFields>
        <queriedFields>ZRH_PrimaTotalAnualUF_Vida__c</queriedFields>
        <queriedFields>vlocity_ins__UnderwriterId__c</queriedFields>
        <queriedFields>ZRH_SolicitudCorredorCliente__c</queriedFields>
        <queriedFields>ZRH_SubEstado__c</queriedFields>
        <queriedFields>ZRH_FechaSolicitudEntrega__c</queriedFields>
        <queriedFields>ZRH_VigenciaTermino__c</queriedFields>
        <queriedFields>ZRH_VigenciaInicio__c</queriedFields>
        <queriedFields>ZRH_Moneda__c</queriedFields>
        <queriedFields>ZRH_NroAsegurados__c</queriedFields>
        <queriedFields>ZRH_PrimaTarget__c</queriedFields>
        <queriedFields>ZRH_Observaciones__c</queriedFields>
        <queriedFields>ZRH_EsLicitacion__c</queriedFields>
        <queriedFields>ZRH_FechaLimitePregunta__c</queriedFields>
        <queriedFields>ZRH_CotizacionDelHolding__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePlanes__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceCondicionesEspeciales__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceCapitalCoberturas__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceTarificacion__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceActivarGlosas__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceAntecedentesGenerales__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceBMI__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceCoberturaExterior__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceConfiguracionCobertura__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceContributoriedad__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceConvenios__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceDeducibles__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceFondoLibreDisposicion__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePreexistencias__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceRequisitosAsegurabilid__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceRoles__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceSobreprima__c</queriedFields>
        <queriedFields>ZRH_RegistroAvanceTablaRequisitosMedicos__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePaqueteConveniosLinea__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePaquetesDeAsistencias__c</queriedFields>
        <queriedFields>ZRH_RegistroAvancePaquetesDeConvenios__c</queriedFields>
        <queriedFields>ZRH_ComisionCorredor__c</queriedFields>
        <queriedFields>ZRH_PDFCreado__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Estado_1</name>
        <label>Actualizar Estado</label>
        <locationX>960</locationX>
        <locationY>1429</locationY>
        <connector>
            <targetReference>Resultados</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_en_el_Flujo</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RelatedQuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Estado_Seleccionado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_SolicitudCorredorCliente__c</field>
            <value>
                <elementReference>SolicitudCorredorCliente_Selecciondao</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_SubEstado__c</field>
            <value>
                <elementReference>SubEstado_Seleccionado</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Cambiar_Estado_Cotizacion_Dependientes</name>
        <label>Cambiar Estado Cotización Dependientes</label>
        <locationX>1183</locationX>
        <locationY>1224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Buscar_Cotizaciones_Relacionadas</targetReference>
        </connector>
        <fields>
            <name>Actualizar_Estado</name>
            <fieldText>Actualizar Estado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Actualizar_Estado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RelatedQuotes</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Quote</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cotizaciones Relacionadas</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AllRelatedQuotes</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d572&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cotización&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Quote Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ZRH_NombreCortoCuenta__c&quot;,&quot;guid&quot;:&quot;column-744d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cuenta Contratante&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nombre Corto Cuenta&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;ZRH_NombreHolding__c&quot;,&quot;guid&quot;:&quot;column-e4b0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Holding&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Nombre Holding&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;ZRH_ValoresEstado__c&quot;,&quot;guid&quot;:&quot;column-3a8a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Estado&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Valores Estado&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;ZRH_EjecutivoPropietario__c&quot;,&quot;guid&quot;:&quot;column-b3ac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Ejecutivo Propietario&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Ejecutivo Propietario&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>QuotesSelectedDefault</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Estado_SubEstado</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Status</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>ZRH_SubEstado__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Cambiar Estado a:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Cambiar Sub Estado a:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Estado_Seleccionado</assignToReference>
                        <name>topValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>SubEstado_Seleccionado</assignToReference>
                        <name>middleValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Solicitud_de_Recotizaci_n</name>
            <fieldText>Solicitud de Recotización</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Solicitud_de_Recotizaci_n_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SolicitudCorredorCliente_Selecciondao</name>
                    <fieldText>Solicitud Corredor/Cliente</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Actualizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_en_el_Flujo</name>
        <label>Error en el Flujo</label>
        <locationX>764</locationX>
        <locationY>181</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje_de_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(247, 16, 16);&quot;&gt;No es posible avanzar debido a que existe una aprobación pendiente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_de_Error_Necesita_Aprobacion</name>
        <label>Mensaje de Error Necesita Aprobacion</label>
        <locationX>1823</locationX>
        <locationY>2488</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>MensajeErrorNecesitaAprobacion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;No cumples con la autoridad para cambiar a estado &quot;Cotizada&quot; la cotización del Holding &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!QuoteLink},&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt; necesitas aprobación.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(18, 17, 17);&quot;&gt;Favor,  utilizar botón &quot;Enviar para Aprobación&quot; en la cotización que desdes cambiar a &quot;Cotizada&quot; una vez aprobada, podrás cambiar el estado satisfactoriamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_de_Error_No_Cumple_Con_Registro_de_Avance</name>
        <label>Mensaje de Error No Cumple Con Registro de Avance</label>
        <locationX>2131</locationX>
        <locationY>2582</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>MensajeErrorNecesitaAprobacion_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;No has cumplido con el registro de avance necesario para cambiar a estado &quot;Cotizada&quot; la cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!QuoteLink}&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(18, 17, 17);&quot;&gt;Favor, completar el Registro de Avance.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(18, 17, 17);&quot;&gt;Para cotizaciones con planes Salud: Planes, Condiciones Especiales y Tarificación&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(18, 17, 17);&quot;&gt;Para cotizaciones con planes Vida: Planes, Capital y Coberturas y Tarificación&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(18, 17, 17);&quot;&gt;Para cotizaciones con ambos planes todos los campos mencionados anteriormente.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(18, 17, 17);&quot;&gt;Una vez completo el Registro de Avance podrás mover esta cotización a estado &quot;Cotizada&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_de_Error_No_Cumple_Con_Registro_de_Avance_0</name>
        <label>Mensaje de Error No Cumple Con Registro de Avance</label>
        <locationX>1600</locationX>
        <locationY>3492</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>MensajeErrorNecesitaAprobacion_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;No has cumplido con el registro de avance necesario para cambiar a estado &quot;Ganada&quot; la cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!QuoteLink}&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(18, 17, 17);&quot;&gt;Favor, completar en el Registro de Avance los siguientes campos:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Tarificación, Tabla de Requisitos Medicos, Sobreprima, Roles, Requisitos de Asegurabilidad,&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Preexistencias, Planes, Paquetes de convenios, Paquetes de asistencias, Antecedentes Generales,&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Paquete de convenios en línea, Fondo Libre Disposición, Deducibles, Convenios, Contributoriedad,&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Configuración de Coberturas, Condiciones Especiales, Cobertura en el Exterior, Capital y Coberturas, Activar Glosas, BMI, Topes.&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(18, 17, 17);&quot;&gt;Una vez completo el Registro de Avance podrás mover esta cotización a estado &quot;Ganada&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_Error_Ejecutivo</name>
        <label>Mensaje Error Ejecutivo</label>
        <locationX>1657</locationX>
        <locationY>430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeErrorEjecutivo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;No tiene permisos para cambiar el estado de esta cotización ya que no es el Ejecutivo Propietario&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_Error_No_Hay_Suscriptor</name>
        <label>Mensaje Error No Hay Suscriptor</label>
        <locationX>2575</locationX>
        <locationY>2704</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>MensajeErrorNoSuscriptor</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;La cotización {!QuoteLink} no tiene ningún Suscriptor asignado. &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Favor solicitar a Jefe de Suscripción o Subgerente de Suscripción que asigne un Suscriptor a esta cotización antes de enviar a recotizar.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mensaje_Error_para_Estado_Ingreso</name>
        <label>Mensaje Error para Estado Ingreso</label>
        <locationX>2205</locationX>
        <locationY>1839</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>DatosRequeridosParaIngreso</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;Para poder pasar a estado &quot;Ingreso&quot; la cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;{!QuoteLink},&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;faltan completar los siguientes campos:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;Comisión Corredor&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;Fecha Límite Pregunta&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;Fecha Solicitud Entrega&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;Moneda&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;Número Asegurados&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;Observaciones&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;Prima Target&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;Vigencia Inicio&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;Vigencia Término&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Permitir_Avance_Desde_COTIZADA</name>
        <label>No Permitir Avance Desde COTIZADA</label>
        <locationX>866</locationX>
        <locationY>2695</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>MensajeErrorAvanceDesdeCotizada</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;La cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!QuoteLink}&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt; solo puede cambiar de estado &quot;Cotizada&quot; a&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt; &quot;Enviada al Corredor&quot;&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;, &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;&quot;Recotizar&quot;&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;,&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;&amp;nbsp;&quot;Ganada&quot; &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;o &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;&quot;Perdida&quot; &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;y para ello debe tener el PDF de la cotización generado&lt;/span&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_CotizacionDelHolding__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MensajeErrorAvanceDesdeCotizadaNoHolding</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;La cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;{!QuoteLink}&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt; solo puede cambiar de estado &quot;Cotizada&quot; a&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt; &quot;Enviada al Corredor&quot;&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;, &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;&quot;Recotizar&quot;&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;,&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&quot;Ganada&quot; &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;o &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;&quot;Perdida&quot;&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Buscar_Cotizaciones_Relacionadas.ZRH_CotizacionDelHolding__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Permitir_Avance_Desde_DOC_ENVIADA</name>
        <label>No Permitir Avance Desde DOC ENVIADA</label>
        <locationX>996</locationX>
        <locationY>2506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>MensajeErrorAvanceDesdeDocEnviada</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;La cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!QuoteLink}&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt; solo puede cambiar de estado &quot;Documentación Enviada&quot;&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;a &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;&quot;Cotizada&quot; &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;o&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt; &quot;Declinada&quot;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Permitir_Avance_Desde_DOC_FALTANTE</name>
        <label>No Permitir Avance Desde DOC FALTANTE</label>
        <locationX>1058</locationX>
        <locationY>2334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>MensajeErrorAvanceDesdeDocFaltante</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;La cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!QuoteLink}&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt; solo puede cambiar de estado &quot;Documentación Faltante&quot;&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;a &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;&quot;Documentación Enviada&quot; &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;o&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt; &quot;Declinada&quot;﻿.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Permitir_Avance_Desde_ENVIADA_CORREDOR</name>
        <label>No Permitir Avance Desde ENVIADA CORREDOR</label>
        <locationX>752</locationX>
        <locationY>2876</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>MensajeErrorAvanceDesdeEnviadaCorredor</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;La cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!QuoteLink}&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt; solo puede cambiar del estado &quot;Enviada al Corredor&quot; a &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;&quot;Recotizar&quot;,&amp;nbsp;&quot;Ganada&quot;&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt; o &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;&quot;Perdida&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Permitir_Avance_desde_INGRESO</name>
        <label>No Permitir Avance desde INGRESO</label>
        <locationX>1164</locationX>
        <locationY>2169</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>MensajeErrorAvanceDesdeIngreso</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;La cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!QuoteLink} &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;solo puede cambiar de estado&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;&quot;Ingreso&quot;&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;a &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;&quot;Documentación Faltante&quot;, &quot;Cotizada&quot; &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;o&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt; &quot;Declinada&quot;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Permitir_Avance_Desde_RECOTIZAR</name>
        <label>No Permitir Avance Desde RECOTIZAR</label>
        <locationX>621</locationX>
        <locationY>3054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>MensajeErrorAvanceDesdeRecotizar</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;La cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!QuoteLink}&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt; solo puede cambiar del estado &quot;Recotizar&quot; a &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;&quot;Cotizada&quot;&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Permitir_Avance_Desde_RESERVA</name>
        <label>No Permitir Avance Desde RESERVA</label>
        <locationX>1363</locationX>
        <locationY>2010</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>MensajeErrorAvanceDesdeReserva</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;La cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!QuoteLink}&lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt; solo puede cambiar de estado&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;&quot;Reserva&quot; a&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt; &quot;Ingreso&quot; &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;o&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt; &quot;Perdida&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Permitir_Cambio_de_Estado</name>
        <label>No Permitir Cambio de Estado</label>
        <locationX>50</locationX>
        <locationY>1507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <fields>
            <name>MensajeErrorNoPermitirCambioEstado</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;El estado que deseas cambiar para la cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;{!QuoteLink} &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7);&quot;&gt;no es modificable&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7);&quot;&gt;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Permitir_Mismo_estado_declinada</name>
        <label>No Permitir Mismo estado declinada</label>
        <locationX>560</locationX>
        <locationY>1601</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_permitir_declinada</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;El estado que deseas cambiar para la cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;{!QuoteLink} &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;no es permitido&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Permitir_Mismo_estado_perdida</name>
        <label>No Permitir Mismo estado perdida</label>
        <locationX>649</locationX>
        <locationY>1562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_permitir_perdida</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;El estado que deseas cambiar para la cotización &lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;{!QuoteLink} &lt;/strong&gt;&lt;span style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;no es permitido&lt;/span&gt;&lt;strong style=&quot;color: rgb(238, 7, 7); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resultados</name>
        <label>Resultados</label>
        <locationX>822</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Checkbox</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ZRH_Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>1cm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>1cm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MensajeExito</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Los cambios de estado de las cotizaciones se han ejecutado con éxito.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Salir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1428</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>Obtener_Info_Cotizacion_Inicial</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllRelatedQuotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>CotHolding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>currentItem_asdas_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_CotizacionHolding_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>currentItem_CotizacionHolding_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>currentItem_QLI_Tipo_Vida</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Estado_Seleccionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HayPDFCreado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuotesSelectedDefault</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedQuoteId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubEstado_Seleccionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
