force-app/main/default/flows/ZRH_CrearQuoteLineItemGroupClass.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asignar_Campos</name>
        <label>Asignar Campos</label>
        <locationX>975</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>Buscar_QuoteLineItemGroupClass.GroupClassId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.vlocity_ins__GroupClassId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buscar_QuoteLineItemGroupClass.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Buscar_QuoteLineItemGroupClass.QuoteLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.vlocity_ins__QuoteLineItemId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_QuoteLineItemGroupClass</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existe_QuoteLineItemGroupClass</name>
        <label>Existe QuoteLineItemGroupClass</label>
        <locationX>768</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>Crear_QuoteLineItemGroupClass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existe</defaultConnectorLabel>
        <rules>
            <name>Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_QuoteLineItemGroupClass</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Campos</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <description>Flujo para crear el objeto Quote Line Item Group Class a partir del objeto vlocity_ins__QuoteLineItemGroupClass__c para tener el modelo armonizado.</description>
    <environments>Default</environments>
    <interviewLabel>ZRH_CrearQuoteLineItemGroupClass {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZRH_CrearQuoteLineItemGroupClass</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_QuoteLineItemGroupClass</name>
        <label>Crear QuoteLineItemGroupClass</label>
        <locationX>540</locationX>
        <locationY>689</locationY>
        <inputAssignments>
            <field>GroupClassId</field>
            <value>
                <elementReference>Buscar_GroupClass.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteLineItemId</field>
            <value>
                <elementReference>$Record.vlocity_ins__QuoteLineItemId__c</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItemGroupClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_GroupClass</name>
        <label>Buscar GroupClass</label>
        <locationX>777</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buscar_QuoteLineItemGroupClass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.vlocity_ins__GroupClassId__r.vlocity_ins__GroupId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.vlocity_ins__GroupClassId__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_QuoteLineItemGroupClass</name>
        <label>Buscar QuoteLineItemGroupClass</label>
        <locationX>776</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_QuoteLineItemGroupClass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupClassId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.vlocity_ins__GroupClassId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuoteLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.vlocity_ins__QuoteLineItemId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItemGroupClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_QuoteLineItemGroupClass</name>
        <label>Actualizar QuoteLineItemGroupClass</label>
        <locationX>1169</locationX>
        <locationY>691</locationY>
        <inputReference>Buscar_QuoteLineItemGroupClass</inputReference>
    </recordUpdates>
    <start>
        <locationX>654</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Buscar_GroupClass</targetReference>
        </connector>
        <object>vlocity_ins__QuoteLineItemGroupClass__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
