force-app/main/default/flows/ZRH_ActualizarPolizasConDatosCotizacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asignar_a_coleccion</name>
        <label>Asignar a coleccion</label>
        <locationX>1178</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>RolesDePolizas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RolDePoliza</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loopear_por_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_P_liza_a_glosa</name>
        <label>Asignar Póliza a glosa</label>
        <locationX>930</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>GlosaAActualizar.ZRH_PlanDelContrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GlosaAActualizar.ZRH_Contrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GlosaAActualizar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopearPorGlosas.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GlosasAActualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GlosaAActualizar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopearPorGlosas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Crear_rol_de_poliza</name>
        <label>Crear rol de poliza</label>
        <locationX>1178</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>RolDePoliza.GroupClassId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loopear_por_Roles.GroupClassId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolDePoliza.ContractGroupPlanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RolDePoliza.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NombreRolDelPlan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_a_coleccion</targetReference>
        </connector>
    </assignments>
    <description>Actualiza las polizas con la informacion de los planes de la cotizacion de la que proviene.</description>
    <environments>Default</environments>
    <formulas>
        <name>DigitoVerificador</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT({!Obtener_configuracion_plan.ZRH_Folio__c}, 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Folio</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT({!Obtener_configuracion_plan.ZRH_Folio__c}, FIND(&quot;-&quot;, {!Obtener_configuracion_plan.ZRH_Folio__c}) - 1))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NombreRolDelPlan</name>
        <dataType>String</dataType>
        <expression>{!Loopear_por_Roles.GroupClass.Name} + &quot; - &quot; + {!Loopear_por_Roles.QuoteLineItem.Id} + &quot; - &quot; + text(NOW())</expression>
    </formulas>
    <interviewLabel>ZRH_ActualizarPolizasConDatosCotizacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZRH_ActualizarPolizasConDatosCotizacion</label>
    <loops>
        <name>Loopear_por_Roles</name>
        <label>Loopear por Roles</label>
        <locationX>983</locationX>
        <locationY>668</locationY>
        <collectionReference>Obtener_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crear_rol_de_poliza</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_roles_de_polizas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopearPorGlosas</name>
        <label>Loopear por Glosas</label>
        <locationX>733</locationX>
        <locationY>464</locationY>
        <collectionReference>Obtener_Glosas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_P_liza_a_glosa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Glosas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_roles_de_polizas</name>
        <label>Crear roles de polizas</label>
        <locationX>980</locationX>
        <locationY>852</locationY>
        <inputReference>RolesDePolizas</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Obtener_configuracion_plan</name>
        <label>Obtener configuracion plan</label>
        <locationX>1050</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Poliza</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QuoteLineItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Glosas</name>
        <label>Obtener Glosas</label>
        <locationX>733</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopearPorGlosas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ZRH_QuoteLineItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.QuoteLineItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ZRH_Glosas__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Roles</name>
        <label>Obtener Roles</label>
        <locationX>852</locationX>
        <locationY>668</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loopear_por_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteLineItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_configuracion_plan.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItemGroupClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Glosas</name>
        <label>Actualizar Glosas</label>
        <locationX>731</locationX>
        <locationY>668</locationY>
        <connector>
            <targetReference>Obtener_Roles</targetReference>
        </connector>
        <inputReference>GlosasAActualizar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Poliza</name>
        <label>Actualizar Poliza</label>
        <locationX>871</locationX>
        <locationY>314</locationY>
        <connector>
            <targetReference>Obtener_Glosas</targetReference>
        </connector>
        <inputAssignments>
            <field>ZRH_AtributosBMI__c</field>
            <value>
                <elementReference>Obtener_configuracion_plan.ZRH_AtributosBMI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_AtributosConvenios__c</field>
            <value>
                <elementReference>Obtener_configuracion_plan.ZRH_AtributosConvenios__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_AtributosReqMedicosSeleccionado__c</field>
            <value>
                <elementReference>Obtener_configuracion_plan.ZRH_AtributosReqMedicosSeleccionado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_AtributosRequisitosAsegurabilidad__c</field>
            <value>
                <elementReference>Obtener_configuracion_plan.ZRH_AtributosRequisitosAsegurabilidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_AtributosTopes__c</field>
            <value>
                <elementReference>Obtener_configuracion_plan.ZRH_AtributosTopes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_Estado__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_Folio__c</field>
            <value>
                <elementReference>Obtener_configuracion_plan.ZRH_Folio__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_Periodo__c</field>
            <value>
                <elementReference>Obtener_configuracion_plan.ZRH_Periodo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_Tarifa__c</field>
            <value>
                <elementReference>Obtener_configuracion_plan.ZRH_Tarifa__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_TipoTarifa__c</field>
            <value>
                <elementReference>Obtener_configuracion_plan.ZRH_TipoTarifa__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Obtener_configuracion_plan</targetReference>
        </connector>
        <object>ContractGroupPlan</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>crearRol</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractGroupPlanGroupClass</objectType>
    </variables>
    <variables>
        <name>GlosaAActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ZRH_Glosas__c</objectType>
    </variables>
    <variables>
        <name>GlosasAActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ZRH_Glosas__c</objectType>
    </variables>
    <variables>
        <name>RolDePoliza</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractGroupPlanGroupClass</objectType>
    </variables>
    <variables>
        <name>RolesDePolizas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractGroupPlanGroupClass</objectType>
    </variables>
</Flow>
