force-app/main/default/flows/ZRH_NotificacionesPDFCotizacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_Notificacion_PDF_Exitoso</name>
        <label>Enviar Notificacion PDF Exitoso</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Obtener_Id_Notificacion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientsIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Documento PDF añadido</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>PlantillaPDFExito</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_Notificacion_PDF_Fallido</name>
        <label>Enviar Notificacion PDF Fallido</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Obtener_Id_Notificacion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientsIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Generación PDF Fallida</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>PlantillaPDFFallo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Agrega_Suscriptor_Asignado</name>
        <label>Agrega Suscriptor Asignado</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>RecipientsIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ZRH_SuscriptorAsignado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Id_Notificacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Obtener_Datos_Usuario</name>
        <label>Obtener Datos Usuario</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>RecipientsIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verifica_Suscriptor_Asignado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Creacion_PDF</name>
        <label>Creacion PDF</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Creacion_Exitosa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ZRH_PDFCreado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ZRH_PDFCreado__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_Notificacion_PDF_Exitoso</targetReference>
            </connector>
            <label>Creacion Exitosa</label>
        </rules>
        <rules>
            <name>Creacion_Fallida</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ZRH_CodigoRespuestaAPIPDF__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>202</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enviar_Notificacion_PDF_Fallido</targetReference>
            </connector>
            <label>Creacion Fallida</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_Suscriptor_Asignado</name>
        <label>Verifica Suscriptor Asignado</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Obtener_Id_Notificacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existe Suscriptor Asignado</defaultConnectorLabel>
        <rules>
            <name>Existe_Suscriptor_Asignado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ZRH_SuscriptorAsignado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agrega_Suscriptor_Asignado</targetReference>
            </connector>
            <label>Existe Suscriptor Asignado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ZRH_NotificacionesPDFCotizacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZRH_NotificacionesPDFCotizacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Id_Notificacion</name>
        <label>Obtener Id Notificacion</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creacion_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZRH_CotizacionGeneradoPDF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Datos_Usuario</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>ZRH_PDFCreado__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ZRH_PDFCreado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ZRH_CodigoRespuestaAPIPDF__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ZRH_CodigoRespuestaAPIPDF__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PlantillaPDFExito</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Un nuevo documento PDF ha sido añadido a su cotización con ID: {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>PlantillaPDFFallo</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ha fallado la generación del documento PDF.
Código de error: {!$Record.ZRH_CodigoRespuestaAPIPDF__c}
Intenta generarlo nuevamente o contacta con un Administrador.</text>
    </textTemplates>
    <variables>
        <name>RecipientsIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
