force-app/main/default/flows/ZRH_EliminarGroupClass.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Existe_GroupClass</name>
        <label>Existe GroupClass</label>
        <locationX>768</locationX>
        <locationY>488</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_GroupClass</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eliminar_GroupClass</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <description>Flujo para eliminar el objeto GroupClass a partir del objeto vlocity_ins__GroupClass__c para tener el modelo armonizado.</description>
    <environments>Default</environments>
    <interviewLabel>ZRH_EliminarGroupClass {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZRH_EliminarGroupClass</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Eliminar_GroupClass</name>
        <label>Eliminar GroupClass</label>
        <locationX>777</locationX>
        <locationY>686</locationY>
        <inputReference>Buscar_GroupClass</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Buscar_GroupClass</name>
        <label>Buscar GroupClass</label>
        <locationX>776</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_GroupClass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.vlocity_ins__GroupId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Buscar_GroupClass</targetReference>
        </connector>
        <object>vlocity_ins__GroupClass__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
