force-app/main/default/flows/ZRH_NotificarPolizasRenovacionFinalizada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notificar_Usuario</name>
        <label>Notificar Usuario</label>
        <locationX>789</locationX>
        <locationY>387</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Id_Notificacion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TituloNotificacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SincronizacionFinalizada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Asignar_usuario</name>
        <label>Asignar usuario</label>
        <locationX>562</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificar_Usuario</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ZRH_NotificarPolizasRenovacionFinalizada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZRH_NotificarPolizasRenovacionFinalizada</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Id_Notificacion</name>
        <label>Id Notificacion</label>
        <locationX>979</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_usuario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZRH_SincronizacionPolizasRenovacionFinalizada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Id_Notificacion</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ZRH_RenovacionFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ZRH_RenovacionSincronizada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ZRH_TipoCotizacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contratante</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SincronizacionFinalizada</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Las p贸lizas de {!$Record.Opportunity.Account.Name} del {!$Record.ZRH_CotizacionHolding__r.Opportunity.Account.ZRH_CodigoGrupoNegocio__c} - {!$Record.ZRH_CotizacionHolding__r.Opportunity.Account.Name} estan listas para que retome el flujo de renovaci贸n.</text>
    </textTemplates>
    <textTemplates>
        <name>TituloNotificacion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>P贸lizas renovaci贸n listas</text>
    </textTemplates>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
