force-app/main/default/flows/ZRH_NotificacionesCambiodeEstado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notificacion_Solicitud_de_Recotizacion</name>
        <label>Notificacion Solicitud de Recotizacion</label>
        <locationX>1235</locationX>
        <locationY>666</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Obtener_Id_Notificacion_RECOTIZAR.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientsIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Solicitud de Recotización</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Cotización: {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notificar_Cambio_Estado_a_Cotizada</name>
        <label>Notificar Cambio Estado a Cotizada</label>
        <locationX>1226</locationX>
        <locationY>435</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Obtener_Id_Custom_Notification_COTIZADA.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientsIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Cambio de Estado</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>La cotización {!$Record.Name} ha cambiado de estado a &quot;Cotizada&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_EComercial_Id_in_Recipient_IDs_variable</name>
        <label>Add EComercial Id in Recipient IDs variable</label>
        <locationX>927</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>RecipientsIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obtener_Opp_Info.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Id_Custom_Notification_COTIZADA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Suscriptor_Id_in_Recipients_IDs_variable</name>
        <label>Add Suscriptor Id in Recipients IDs variable</label>
        <locationX>930</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>RecipientsIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.vlocity_ins__UnderwriterId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Id_Notificacion_RECOTIZAR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Estado_cambia_a_Cotizada</name>
        <label>Estado cambia a &quot;Cotizada&quot;</label>
        <locationX>577</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Estado_cambia_a_Recotizar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_a_Cotizada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-05</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Opp_Info</targetReference>
            </connector>
            <label>Si a Cotizada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_cambia_a_Recotizar</name>
        <label>Estado cambia a &quot;Recotizar&quot;</label>
        <locationX>568</locationX>
        <locationY>663</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_a_Recotizar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E-08</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Suscriptor_Id_in_Recipients_IDs_variable</targetReference>
            </connector>
            <label>Si a Recotizar</label>
        </rules>
    </decisions>
    <description>Notificacion Cambio de Estado a &quot;Cotizada&quot; y a &quot;Recotizar&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Notificaciones Cambio de Estado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZRH_NotificacionesCambioDeEstado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_Id_Custom_Notification_COTIZADA</name>
        <label>Obtener Id Custom Notification COTIZADA</label>
        <locationX>1066</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notificar_Cambio_Estado_a_Cotizada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cambio de Estado a Cotizada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Id_Notificacion_RECOTIZAR</name>
        <label>Obtener Id Notificacion RECOTIZAR</label>
        <locationX>1076</locationX>
        <locationY>664</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notificacion_Solicitud_de_Recotizacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cambio de Estado a Recotizar</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Opp_Info</name>
        <label>Obtener Opp Info</label>
        <locationX>775</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_EComercial_Id_in_Recipient_IDs_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Estado_cambia_a_Cotizada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecipientsIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
