force-app/main/default/flows/ZRH_NotificacionesSuscriptorAsignado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_Notificacion_Asignacion_Suscriptor</name>
        <label>Enviar Notificacion Asignacion Suscriptor</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Obtener_Id_Notificacion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientsIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Asignaci贸n de Cotizaci贸n</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>PlantillaSuscriptorAsignado</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Obtener_Datos_Usuario</name>
        <label>Obtener Datos Usuario</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>RecipientsIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ZRH_SuscriptorAsignado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Id_Notificacion</targetReference>
        </connector>
    </assignments>
    <description>Notificacion que se envia al suscriptor asignado para aprobar en una cotizacion</description>
    <environments>Default</environments>
    <interviewLabel>ZRH_NotificacionesSuscriptorAsignado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZRH_NotificacionesSuscriptorAsignado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtener_Datos_Holding</name>
        <label>obtener Datos Holding</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enviar_Notificacion_Asignacion_Suscriptor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ZRH_CodigoGrupoNegocio__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Id_Notificacion</name>
        <label>Obtener Id Notificacion</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obtener_Datos_Holding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZRH_CotizacionAsignadoSuscriptor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Datos_Usuario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ZRH_SuscriptorAsignado__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ZRH_SuscriptorAsignado__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PlantillaSuscriptorAsignado</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Estimado usuario, se le ha asignado la cotizaci贸n {!$Record.QuoteNumber} del Holding {!obtener_Datos_Holding.ZRH_CodigoGrupoNegocio__c} {!obtener_Datos_Holding.Name} para su evaluaci贸n.</text>
    </textTemplates>
    <variables>
        <name>RecipientsIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
