force-app/main/default/flows/ZRH_ConsultaEstadoPolizaContractGroupPlan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Obtener_Estado_de_Poliza</name>
        <label>Obtener Estado de Poliza</label>
        <locationX>479</locationX>
        <locationY>134</locationY>
        <actionName>ZRH_PolicyStatusControllerSingle</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Primer_Error_API</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputVariables</name>
            <value>
                <elementReference>TransformarNumeroDeFolio</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ZRH_PolicyStatusControllerSingle</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Obtener_Estado_de_Poliza_2</name>
        <label>Obtener Estado de Poliza 2</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <actionName>ZRH_PolicyStatusControllerSingle</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Segundo_Error_API</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputVariables</name>
            <value>
                <elementReference>TransformarNumeroDeFolio</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ZRH_PolicyStatusControllerSingle</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Obtener_Estado_de_Poliza_3</name>
        <label>Obtener Estado de Poliza 3</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>ZRH_PolicyStatusControllerSingle</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Tercer_Error_API</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputVariables</name>
            <value>
                <elementReference>TransformarNumeroDeFolio</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ZRH_PolicyStatusControllerSingle</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Decision_Primer_Error_API</name>
        <label>Decision Primer Error API</label>
        <locationX>479</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Contract_Group_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exito</defaultConnectorLabel>
        <rules>
            <name>PrimerErrorAPI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEstadoDePolizaEsNumero</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Estado_de_Poliza_2</targetReference>
            </connector>
            <label>PrimerErrorAPI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Segundo_Error_API</name>
        <label>Decision Segundo Error API</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Contract_Group_Plan_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exito</defaultConnectorLabel>
        <rules>
            <name>SegundoErrorAPI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEstadoDePoliza2EsNumero</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Estado_de_Poliza_3</targetReference>
            </connector>
            <label>SegundoErrorAPI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Tercer_Error_API</name>
        <label>Decision Tercer Error API</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Contract_Group_Plan_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exito</defaultConnectorLabel>
        <rules>
            <name>TercerErrorAPI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEstadoDePoliza3EsNumero</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>TercerErrorAPI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ObtenerEstadoDePoliza2EsNumero</name>
        <dataType>Boolean</dataType>
        <expression>ISNUMBER({!Obtener_Estado_de_Poliza_2})</expression>
    </formulas>
    <formulas>
        <name>ObtenerEstadoDePoliza3EsNumero</name>
        <dataType>Boolean</dataType>
        <expression>ISNUMBER({!Obtener_Estado_de_Poliza_3})</expression>
    </formulas>
    <formulas>
        <name>ObtenerEstadoDePolizaEsNumero</name>
        <dataType>Boolean</dataType>
        <expression>ISNUMBER({!Obtener_Estado_de_Poliza})</expression>
    </formulas>
    <formulas>
        <name>TransformarNumeroDeFolio</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!ContractGroupPlanNumeroDeFolio},&apos;.&apos;), LEFT({!ContractGroupPlanNumeroDeFolio},3) + RIGHT({!ContractGroupPlanNumeroDeFolio}, 3),{!ContractGroupPlanNumeroDeFolio})</expression>
    </formulas>
    <interviewLabel>Consulta Estado de Poliza Contract Group Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consulta Estado de Poliza Contract Group Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizar_Contract_Group_Plan</name>
        <label>Actualizar Contract Group Plan</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractGroupPlanId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ZRH_ConsultaEstadoPolizaManual__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_Estado__c</field>
            <value>
                <elementReference>Obtener_Estado_de_Poliza</elementReference>
            </value>
        </inputAssignments>
        <object>ContractGroupPlan</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Contract_Group_Plan_2</name>
        <label>Actualizar Contract Group Plan 2</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractGroupPlanId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ZRH_ConsultaEstadoPolizaManual__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_Estado__c</field>
            <value>
                <elementReference>Obtener_Estado_de_Poliza_2</elementReference>
            </value>
        </inputAssignments>
        <object>ContractGroupPlan</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Contract_Group_Plan_3</name>
        <label>Actualizar Contract Group Plan 3</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractGroupPlanId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ZRH_ConsultaEstadoPolizaManual__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ZRH_Estado__c</field>
            <value>
                <elementReference>Obtener_Estado_de_Poliza_3</elementReference>
            </value>
        </inputAssignments>
        <object>ContractGroupPlan</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Estado_de_Poliza</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractGroupPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractGroupPlanNumeroDeFolio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
